<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Purchase</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .grand-total {
            font-size: 2rem; /* Larger font size for emphasis */
            color: gold; /* Gold text color */
            font-weight: bold; /* Bold text for prominence */
            text-align: center; /* Centered text */
            margin-top: 20px; /* Space above the total */
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Confirm Your Purchase</h1>
        <form method="POST" action="/mostrar_compra">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Description</th>
                        <th>Unitary Price</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product[0].idProducto }}</td>
                        <td>{{ product[0].prodDesc }}</td>
                        <td>${{ product[0].precio }}</td>
                        <td>{{ product[1] }}</td>
                        <td>${{ product[1] * product[0].precio }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="form-group">
                <label for="paymentType">Seleccionar tipo de pago:</label>
                <select id="paymentType" name="paymentType" class="form-control">
                    {% for type in payment_types %}
                        <option value="{{ type.id }}">{{ type.id }} {{ type.tipo }} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="shippingType">Seleccionar tipo de envio:</label>
                <select id="shippingType" name="shippingType" class="form-control">
                    <option value="Envio"> Envio </option>
                    <option value="Retira cliente"> Retira Cliente </option>
                </select>
            </div>
            <div class="grand-total">Total: ${{ precio_total }}</div> <!-- Display grand total with style -->
    
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Confirm Purchase</button>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
