<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Purchase</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Confirm Your Purchase</h1>
        <form method="POST" action="/comprar">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Product Name</th>
                        <th>Description</th>
                        <th>Total Price</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product[0].idProducto }}</td>
                        <td>{{ product[0].nomCli }}</td>
                        <td>{{ product[0].prodDesc }}</td>
                        <td>${{ product[0].precio }}</td>  <!-- Assuming product has a price attribute -->
                        <td>
                            {{product[1]}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Confirm Purchase</button>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
