<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">  <!-- Optional Bootstrap for styling -->
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Client Select</h1>
        <form action="/productos" method='POST' class="form-group mx-auto" style="max-width: 500px;">
            <div class="mb-3">
                <label for="cliente" class="form-label">Selecciona un cliente:</label>
                <select name="cliente" id="cliente" class="form-select">
                    {% for cliente in clientes %}
                        <option value="{{ cliente.razSoc }}">
                            {{ cliente.idCli }} -
                            {{ cliente.razSoc }}
                        </option>
                    {% endfor %}
                </select>
            </div>
    
            <button type="submit" class="btn btn-success">Iniciar sesion</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
