<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Product List</h1>
        <form method="POST" action="/confirmar_compra">  <!-- Form with POST method -->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Client Name</th>
                        <th>Description</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td >{{ product[1].idProducto }}</td>
                        <td >{{ product[1].nomCli }}</td>
                        <td >{{ product[1].prodDesc }}</td>
                        <td>
                            <input type="number" 
                            name="quantity_{{ product[1].idProducto }}_{{ product[1].nomCli }}_{{product[1].prodDesc}}" 
                                   class="form-control" 
                                   value="0" 
                                   min="0">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-center">
                <button type="confirmar_compra" class="btn btn-primary">Submit</button>  <!-- Submit button -->
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
